
@{

}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="~/css/Volunteer/VolunteerDetail.css" />
<script type="text/javascript" src="~/js/Volunteer/VolunteerDetail.js"></script>

<h1 style="margin-left:30px;">봉사세부사항</h1>
<hr style="" />

<div id="detail">
    <div class="name" id="no"></div><div id="title"></div>
    <div class="name">봉사기간</div><div class="value" id="vol"></div>
    <div class="name">모집기간</div><div class="value" id="col"></div>
    <div class="name">봉사시간</div><div class="value" id="time"></div>
    <div class="name">모집인원</div><div class="value" id="num"></div>
    <div class="name">봉사일</div><div class="value" id="week"></div>
    <div class="name">모집기관</div><div class="value" id="aname"></div>
    <div class="name">봉사분야</div><div class="value" id="field"></div>
    <div class="name">봉사대상</div><div class="value" id="object"></div>
    <div class="name">위치</div><div class="value" id="place"></div>
    <div class="name"> </div><div class="value"> </div>
    <div id="detailcontent"></div>
    <div id="admin"></div>
</div>
<button class="btn" type="submit" id="applybtn">신청하기</button>
<button class="btn" id="backlistbtn">목록보기</button>