
@{

}
<link rel="stylesheet" href="~/css/Member/Login.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/Home/index.js"></script>
<div id ="outer">
    <div id="loginform">
        <h1 style="text-align:center;">로그인</h1>
        <form>
            <input type="text" class="log" name="id" id="id" placeholder="아이디" autocomplete="off" required>
            <input type="password" class="log" name="password" id="pw" placeholder="비밀번호" autocomplete="off" required>
            <button type="submit" class="log" name="login" id="loginbtn">로그인</button>
        </form>
    </div>
</div="outer">


