
@{

}


<link rel="stylesheet" href="~/css/Member/Signup.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/Member/Signup.js"></script>
<div id ="outer">
    <div id="signupform">
        <h1 style="text-align:center;">회원가입</h1>
        <form>
            <input type="text" class="log" name="id" id="id" placeholder="아이디" autocomplete="off" required>
            <input type="password" class="log" name="password" id="pw" placeholder="비밀번호" autocomplete="off" required>
            <input type="text" class="log" name="name" id="name" placeholder="이름" autocomplete="off" required>
            <input type="text" class="log" name="addr" id="addr" placeholder="주소" autocomplete="off" required>
            <input type="text" class="log" name="num" id="num" placeholder="전화번호(- 추가해서)" autocomplete="off" required>
            <button type="submit" class="log" name="signupbtn" id="signupbtn">회원가입완료</button>
        </form>
    </div>
</div>