@*@{

    }
    <link rel="stylesheet" href="~/css/Home/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/Home/index.js"></script>
    <div id="search">
        <ul style="list-style: none;">
            <li><a>봉사 조회</a></li>
            <li>봉사 인증서 발급</li>
            <li>봉사 참여</li>
            <li>외부봉사인증</li>
        </ul>
    </div>
    <div id="info">
        <form>
            <input type="text" name="id" placeholder="아이디" autocomplete="off" required>
            <input type="password" name="password" placeholder="비밀번호" autocomplete="off" required>
            <button type="submit" name="login" id="loginbtn">로그인</button>

        </form>
        <button type="submit" name="join" class="btn2" id="signup">회원가입</button>
        <button type="submit" name="idpw" class="btn2" id="idpw">ID/PW찾기</button>
    </div>
    <div id="notice">
        <ul style="list-style: none;">
            <li>
                <div style="float: left;width: 70%">&nbsp;공지 사항</div>
                <div style="float: left;width: 30%;text-align: right"><a href="/Other/Notice" style="font-size: 20px;text-decoration: none;">+&nbsp;</a></div>
                <hr style="border: 1px solid red">
            </li>
            <li>
                <div style="float: left;width: 70%">&nbsp;모집중인 봉사</div>
                <div style="float: left;width: 30%;text-align: right"><a href="/Volunteer/Sub3_1" style="font-size: 20px;text-decoration: none;">+&nbsp;</a></div>
                <hr style="border: 1px solid red">
            </li>
            <li>
                <div style="float: left;width: 70%">&nbsp;질문과 답변</div>
                <div style="float: left;width: 30%;text-align: right"><a href="/Other/Question" style="font-size: 20px;text-decoration: none;">+&nbsp;</a></div>
                <hr style="border: 1px solid red">
            </li>
        </ul>
    </div>*@

@{

}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="~/css/Volunteer/Volunteer.css" />
<script type="text/javascript" src="~/js/Volunteer/Volunteer.js"></script>
<style>
    .cursor {
        background-color: sienna;
    }
</style>
<h1 style="margin-left:30px;">모집중인 봉사</h1>
<hr style="" />

<div id="contents">
    <div class="noticelist" data-ng-app="myApp" data-ng-controller="noticelist">
        <br>
        <div style="min-height: 640px;">
            <ul class="head">
                <li>
                    <div>번호</div>
                    <div>제목</div>
                    <div>기관명</div>
                    <div>요일</div>
                    <div>시간</div>
                </li>
            </ul>
            <ul class="list">
                <li data-ng-repeat="row in data | filter:filter | startFrom:currentPage*pageSize | limitTo:pageSize" data-ng-click="list(row.vNo)">
                    <div class="text_center">{{row.vNo}}</div>
                    <div>{{row.vName}}</div>
                    <div>{{row.aName}}</div>
                    <div>{{row.vWeek}}</div>
                    <div>{{row.vTime}}</div>
                </li>
            </ul>
        </div>
        <div style="text-align:center;">
            <ul style="list-style:none; display:inline-block;">
                <li data-ng-repeat="row in pageList" data-ng-click="page(row)" style="display:inline-block; padding: 5px 10px; margin: 0 5px; cursor:pointer; border-radius: 50%;" data-ng-class="{cursor : row.no == (currentPage + 1)}">{{row.no}}</li>
            </ul>
        </div>
    </div>
</div>