@{
    
}
<link rel="stylesheet" href="~/css/Home/index.css" />
<div id="search">
    <ul style="list-style: none;">
        <li><a>봉사 조회</a></li>
        <li>봉사 인증서 발급</li>
        <li>봉사 참여</li>
        <li>외부봉사인증</li>
    </ul>
</div>
<div id="info">
    <form>
        <input type="text" name="id" placeholder="아이디" autocomplete="off" required>
        <input type="password" name="password" placeholder="비밀번호" autocomplete="off" required>
        <button type="submit" name="login" id="loginbtn">로그인</button>
        <button type="submit" name="join" class="btn2" id="join">회원가입</button>
        <button type="submit" name="idpw" class="btn2">ID/PW찾기</button>
    </form>
</div>
<div id="notice">
    <ul style="list-style: none;">
        <li>
            <div style="float: left;width: 70%">&nbsp;공지 사항</div>
            <div style="float: left;width: 30%;text-align: right"><a href="#" style="font-size: 20px;">+&nbsp;</a></div>
            <hr style="border: 1px solid red">
        </li>
        <li>모집중인 봉사</li>
        <li>질문과 답변</li>
    </ul>
</div>
